body{background-color:rgb(245, 245, 245);}

.nav-link{
    font-size: 20px;
    cursor:pointer;
    letter-spacing: 1.5px;
    padding: auto;
    color: aliceblue;
}
.navbar li:after {
    display: block;
    content: '';
    border:solid 1px white;
    transform: scaleX(0);
    transition: transform 200ms ease-in-out;
}

.navbar li:hover:after {
    transform: scaleX(1);
    color:rgb(51, 255, 0);
} 
.nav-link:hover{
    color: yellow;
}
.icons{
     word-spacing: 15px;
    cursor: pointer;
}
a{
    text-decoration: none;
   
    cursor: pointer;
}
.navbar-brand{
    font-size: 30px;
    letter-spacing: 2px;
}
.role{
    letter-spacing: 5px;
}

button {
color: #090909;
padding: 0.4em 1.4em;
font-size: 18px;
border-radius: 0.5em;
background: #e8e8e8;
cursor: pointer;
border: 1px solid #000000;

}

button:hover {
color: #000000;
transition: all 0.3s;
box-shadow: inset 4px 4px 12px #fff2f2, inset -4px -4px 12px #ededed;
box-shadow: 6px 6px 12px #eeeeee, -6px -6px 12px #ffffff;


}

.dark-mode{
    background-color:#212529;
    color: white;
}
.nav-link{
    color:whitesmoke;
}