body{background-color:rgb(245, 245, 245);}

.nav-link{
    font-size: 20px;
    cursor:pointer;
    letter-spacing:3.5px;
    padding: auto;
    color: aliceblue;
    
  }
.navbar li:after {
    display: block;
    content: '';
   
}

.navbar li:hover:after {
    transform: scaleX(1);
    color:rgb(51, 255, 0);
    
} 
.nav-link:hover{
    color: yellow;
    border:solid 1px white;
    transition: transform 100ms ease-in-out;
    padding: 10px 10px;
    border-radius: 10px;
  
}
.icons{
     word-spacing: 15px;
    cursor: pointer;
}
a{
    text-decoration: none;
   
    cursor: pointer;
}
.navbar-brand{
    font-size: 30px;
    letter-spacing: 2px;
}
.role{
    letter-spacing: 5px;
}


.dark-mode{
    background-color:#212529;
    color: white;
}
.nav-link{
    color:whitesmoke;
}
.navbar-toggler{
    background-color: white;
}
.navbar{
 border-bottom: 2px rgb(0, 0, 0) solid;
}
/*  */