body{background-color:rgb(245, 245, 245);}

.nav-link{
    font-size: 20px;
    cursor:pointer;
    letter-spacing:3.5px;
    padding: auto;
    color: aliceblue;
    
  }
.navbar li:after {
    display: block;
    content: '';
   
}

.navbar li:hover:after {
    transform: scaleX(1);
    color:rgb(51, 255, 0);
    
} 
.nav-link:hover{
    color: yellow;
    border:solid 1px white;
    transition: transform 100ms ease-in-out;
    padding: 10px 10px;
    border-radius: 10px;
  
}
.icons{
     word-spacing: 15px;
    cursor: pointer;
}
a{
    text-decoration: none;
   
    cursor: pointer;
}
.navbar-brand{
    font-size: 30px;
    letter-spacing: 2px;
}
.role{
    letter-spacing: 5px;
}

.button {
    text-decoration: none;
    position: relative;
    border: none;
    font-size: 20px;
    font-family: inherit;
    cursor: pointer;
    color: #fff;
    width: 9em;
    height: 3em;
    line-height: 2em;
    text-align: center;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 300%;
    border-radius: 30px;
    z-index: 1;
  }
  
  .button:hover {
    animation: ani 8s linear infinite;
    border: none;
  }
  
  @keyframes ani {
    0% {
      background-position: 0%;
    }
  
    100% {
      background-position: 400%;
    }
  }
  
  .button:before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #6f0505, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 35px;
    transition: 1s;
  }
  
  .button:hover::before {
    filter: blur(20px);
  }
  
  .button:active {
    background: linear-gradient(32deg, #0c151a, #f441a5, #ffeb3b, #03a9f4);
  }
  

.dark-mode{
    background-color:#212529;
    color: white;
}
.nav-link{
    color:whitesmoke;
}
.navbar-toggler{
    background-color: white;
}
.navbar{
 border-bottom: 2px rgb(0, 0, 0) solid;
}
/*  */